.mission_left{
  padding-top: 50px;
}

.mission_right{
  margin-top: 95px;
}
.mission_head h2{
  text-transform: capitalize;
}

.mission_head p{
  font-size: 14px;
  font-weight: 400;
  padding-top: 50px;
}

.mission_item{
  padding-top: 30px;
  padding-left: 52px;
}

.mission_item p{
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
}

.mission_item i{
  color: #ffca36;
  margin-right: 10px;
}