.produstry_left{
  margin-top: 95px;
}

.prd_head h2{
  margin-top: 120px;
  text-transform: capitalize;
}

.prd_item{
  margin-top: 57px;
}

.prd_item p{
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 30px;
}