#market{

  margin: 100px 0;
  position: relative;
}

.hmarket_img{
  padding: 35px 0;
  background-color: #f1f1f1;
  text-align: center;
  margin: 10px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.hmarket_img img{
  margin: 0 auto;
}

.home_marketplace .slick-center .hmarket_img{
  box-shadow: 0px 0px 10px black;
}


.mn_arrow{
  position: absolute;
  top: 50%;
  right: 10%;
  //z-index: 50;
  height: 50px;
  width: 50px;
  //background-color: purple;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.mn_arrow:hover i{
  color: #ffca36;
}

.mn_i{
  position: relative;
}

.mn_i::after{
  position: absolute;
  content: '';
  height: 120%;
  width: 2px;
  top: -10%;
  left: 0;
  background-color: #000;
}
.mn_i::before{
  position: absolute;
  content: '';
  height: 120%;
  width: 2px;
  top: -10%;
  right: 0;
  background-color: #000;
}

.mn_i:hover::before,
.mn_i:hover::after{
  background-color: #ffca36;
}
.mn_c{
  position: relative;
}

.mn_c::after{
  position: absolute;
  content: '';
  height: 2px;
  width: 120%;
  bottom: 0%;
  left: -10%;
  background-color: #000;
}
.mn_c::before{
  position: absolute;
  content: '';
  height: 2px;
  width: 120%;
  top: 0%;
  right: -10%;
  background-color: #000;
}

.mn_c:hover::before,
.mn_c:hover::after{
  background-color: #ffca36;
}
.mp_arrow{
  position: absolute;
  top: 50%;
  left: 10%;
  //z-index: 50;
  height: 50px;
  width: 50px;
  //background-color: purple;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.mp_arrow:hover i{
  color: #ffca36;
}

.mp_o{
  position: relative;
}

.mp_o::after{
  position: absolute;
  content: '';
  height: 120%;
  width: 2px;
  top: -10%;
  left: 0;
  background-color: #000;
}
.mp_o::before{
  position: absolute;
  content: '';
  height: 120%;
  width: 2px;
  top: -10%;
  right: 0;
  background-color: #000;
}

.mp_o:hover::before,
.mp_o:hover::after{
  background-color: #ffca36;
}
.mp_n{
  position: relative;
}

.mp_n::after{
  position: absolute;
  content: '';
  height: 2px;
  width: 120%;
  bottom: 0%;
  left: -10%;
  background-color: #000;
}
.mp_n::before{
  position: absolute;
  content: '';
  height: 2px;
  width: 120%;
  top: 0%;
  right: -10%;
  background-color: #000;
}

.mp_n:hover::before,
.mp_n:hover::after{
  background-color: #ffca36;
}
